@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/OpenSans_Condensed-Bold.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-bottom: 1px solid #dedede;
}

.title-letter {
  font-family: 'Open Sans Condensed';
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  width: 36px;
  height: 36px;
  border: 1px solid #dedede;
  border-radius: 5px;
  margin: .1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-wailord {
  width: 32px;
  height: 32px;
  background: url('../images/favicon32.png');
  image-rendering: pixelated;
}

.pokesprite {
  margin-top: -16px;
}

.guesses {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  justify-content: center;
}

.guess {
  margin: 0 1rem 0 1rem;
}

.guessline {
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
}

.ribbon {
  background: #dedede;
  background-size: contain;
  width: 200px;
  height: 44px;
  border-radius: 5px;
  margin-right: .5rem;
}

.ribbon.type-flying {
  background-image: url('../images/types/flying.png');
}

.ribbon.type-psychic {
  background-image: url('../images/types/psychic.png');
}

.ribbon.too-short {
  background-image: url('../images/guesses/too_short.png');
}

.ribbon.too-tall {
  background-image: url('../images/guesses/too_tall.png');
}

.ribbon.too-light {
  background-image: url('../images/guesses/too_light.png');
}

.ribbon.too-heavy {
  background-image: url('../images/guesses/too_heavy.png');
}

.check {
  background: #dedede;
  width: 32px;
  height: 32px;
  border-radius: 5px;
}

.check.correct {
  background-image: url('../images/guesses/2705.svg');
}

.check.wrong {
  background-image: url('../images/guesses/1f6ab.svg');
}

.check.swap {
  background-image: url('../images/guesses/1f503.svg');
}

.check.too-low {
  background-image: url('../images/guesses/1f53c.svg');
}

.check.too-high {
  background-image: url('../images/guesses/1f53d.svg');
}

