@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/OpenSans_Condensed-Bold.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-bottom: 1px solid #dedede;
}

.title-letter {
  font-family: 'Open Sans Condensed';
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  width: 36px;
  height: 36px;
  border: 2px solid #dedede;
  border-radius: 5px;
  margin: .1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-wailord {
  width: 32px;
  height: 32px;
  background: url('../images/favicon32.png');
  image-rendering: pixelated;
}

.pokesprite {
  margin-top: -16px;
}

.app {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans';
  font-weight: 400;
}

.guesses {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.guess {
  margin: 0 1rem 0 1rem;
}

.guessline {
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
}

.ribbon {
  background-color: #dedede;
  background-size: contain;
  width: 200px;
  height: 44px;
  border-radius: 5px;
  margin-right: .5rem;
}

.ribbon.too-short {
  background-image: url('../images/guesses/too_short.png');
}

.ribbon.too-tall {
  background-image: url('../images/guesses/too_tall.png');
}

.ribbon.too-light {
  background-image: url('../images/guesses/too_light.png');
}

.ribbon.too-heavy {
  background-image: url('../images/guesses/too_heavy.png');
}

.check {
  background: #dedede;
  width: 32px;
  height: 32px;
  border-radius: 5px;
}

.check.correct {
  background-image: url('../images/guesses/2705.svg');
}

.check.wrong {
  background-image: url('../images/guesses/1f6ab.svg');
}

.check.swap {
  background-image: url('../images/guesses/1f503.svg');
}

.check.too-low {
  background-image: url('../images/guesses/1f53c.svg');
}

.check.too-high {
  background-image: url('../images/guesses/1f53d.svg');
}

.solution {
  display: flex;
  align-items: center;
}

form.pokemon-search {
  position: relative;
}

input[type=search] {
  height: 2rem;
  padding-left: 1rem;
  padding-right: 2rem;
  border: 1px solid #dedede;
  border-radius: 5px;
  font-family: 'Open Sans';
  font-weight: 400;
}

button.search {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: .5rem;
  right: .5rem;
  background: url('../images/1f50d.svg');
  border: 0;
  cursor: pointer;
}
